<html>
<head>
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    <style>
        .place{
                text-align:left;
            }
    body {
            background-image: url("https://images.unsplash.com/photo-1508804052814-cd3ba865a116?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
            background-repeat: no-repeat, repeat;
            background-size:cover;
            text-align:center;
          }
    </style>
    </head>
<body>
    <div class="container">
    <nav class="navbar navbar-default" style="background-color:transparent; border:3px solid black">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
            </button>
            <a href="/home"class="navbar-brand"style="color:black">TravelPlaces</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about" style="color:black">About</a></li>
                <li><a href="/contact"style="color:black">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"style="color:red">Sign Up <i class="fa fa-user-plus"></i></a></li>
                <li><a href="#"style="color:red">Login <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<h1 style="color:rgb(255, 0, 0)">China</h1>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
</body>
<div class="place">
    <h2 style="color:rgb(61, 139, 129)">Best places to visit:</h2>
    <br>
    <h4 style="color:lightgoldenrodyellow">1. Great Wall of China.<br><br>
            2. The Palace Museum.<br><br>
            3. Emperor Qinshihuang's Mausoleum Site Museum.<br><br>
            4. The Bund.<br><br>
            5. Temple of Heaven.
            <br><br>
            6. Tiananmen Square.<br><br>
            7. Yu Garden.<br><br>
            8. Li River.
            <br><br>
            9. Great Wall of Badaling.<br><br>
            10. Mount Kailash.</h4>
</div>
</html>