<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    <style>
        .contact {
                    background-color: transparent;
                    width: 450px;
                    height:350px;
                    border: 4px solid black;
                    padding: 25px;
                    margin: 25px;
                    text-align:center;
                    position: absolute;
                    right: 450px;
                    top:150px;
                }
    body {
        background-image: url("https://stmed.net/sites/default/files/abu-dhabi-wallpapers-28366-4246989.jpg");
        background-repeat: no-repeat, repeat;
        background-size:cover;
          }
    </style>
    </head>
<body>
    <div class="container">
    <nav class="navbar navbar-default" style="background-color:transparent; border:3px solid black">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
            </button>
            <a href="/home"class="navbar-brand"style="color:cornflowerblue">TravelPlaces <i class="fas fa-plane-departure"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about" style="color:cornflowerblue">About</a></li>
                <li><a href="/contact"style="color:cornflowerblue">Contact Us <i class="fas fa-phone"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"style="color:turquoise">Sign Up <i class="fa fa-user-plus"></i></a></li>
                <li><a href="/login"style="color:turquoise">Login <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
    <div class="contact">
            <h2 style="color:yellow">Contact Us<h2>
            <h3 style="color:oldlace">Customer care: +91-8764474747</h3>
            <h3 style="color:oldlace">(US office): +0-0018976789</h3>
            <h3 style="color:oldlace">(India office): +91-8756474747</h3>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
</body>
</html>