<html>
<head>
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet"type="text/css"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    <style>
        .place{
                text-align:left;
            }
    body {
            background-image: url("http://i.imgur.com/TqO7hxM.jpg");
            background-repeat: no-repeat, repeat;
            background-size:cover;
            text-align:center;
          }
    </style>
    </head>
<body>
    <div class="container">
    <nav class="navbar navbar-default" style="background-color:transparent; border:3px solid black">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
                <span class ="icon-bar"></span>
            </button>
            <a href="/home"class="navbar-brand"style="color:cornflowerblue">TravelPlaces</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/about" style="color:cornflowerblue">About</a></li>
                <li><a href="/contact"style="color:cornflowerblue">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"style="color:red">Sign Up <i class="fa fa-user-plus"></i></a></li>
                <li><a href="#"style="color:red">Login <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
</div>
<h1 style="color:moccasin">London</h1>

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
</body>
<div class="place">
    <h2 style="color:turquoise">Best places to visit:</h2>
    <br>
    <h4 style="color:snow">1. Big Ben.<br><br>
            2. Buckingham Palace.<br><br>
            3. Coca Cola London Eye.<br><br>
            4. Tower of London.<br><br>
            5. River Thames.<br><br>
            6. Madam Tussauds London.<br><br>
            7. Science Museum.<br><br>
            8. Royal Albert Hall.<br><br>
            </h4>
</div>
</html>